# WARNING: DO NOT CHECK THIS FILE INTO SOURCE CONTROL!
# ACCESS TO THE KUBEADM TOKEN HERE IS EQUIVALENT TO ROOT ACCESS
# ON YOUR CLUSTER.

# IP of your kubernetes master node that is reachable by kubernetes
# worker nodepsp
export KUBE_MASTER_IP=10.1.1.230

# Output of `kubeadm token generate goes here`.
# CONSIDER THIS TO BE AS SENSITIVE AS YOUR ROOT PASSWORD OR SSH KEY
# TRY TO NOT LEAK IT.
export KUBEADM_TOKEN=""